{% extends '::base.html.twig' %}
{% block title %}About Us{% endblock %}

{% block body %}
<div class="span9">
    <div class="page-header">
        <h1>1. About</h1>
    </div>
    <p class="lead">In order to better understand what a framework is, let’s leave the world of computer science for a moment and imagine a mountaineering adventure. Developing an application is very similar to climbing a rock wall: you are at the bottom (you have an application to be created) and you need to reach the summit (and be pleased with the achievement of designing an application that works perfectly.)</p>
    <p class="lead">In order to better understand what a framework is, let’s leave the world of computer science for a moment and imagine a mountaineering adventure. Developing an application is very similar to climbing a rock wall: you are at the bottom (you have an application to be created) and you need to reach the summit (and be pleased with the achievement of designing an application that works perfectly.)</p>
    <p class="lead">In order to better understand what a framework is, let’s leave the world of computer science for a moment and imagine a mountaineering adventure. Developing an application is very similar to climbing a rock wall: you are at the bottom (you have an application to be created) and you need to reach the summit (and be pleased with the achievement of designing an application that works perfectly.)</p>

</div><!--/span-->
{% endblock %}


{% block javascripts %}
{{parent()}}
<script>
  $(document).ready(function(){
      //add active class for about nav link
      $('#aboutLink').addClass('active');
  });
</script>    
{% endblock %}